{% extends 'base.html.twig' %}

{% block title %}Doccument index{% endblock %}

{% block body %}
    <h1>Doccument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doccument in doccuments %}
            <tr>
                <td>{{ doccument.id }}</td>
                <td>
                    <a href="{{ path('doccument_show', {'id': doccument.id}) }}">show</a>
                    <a href="{{ path('doccument_edit', {'id': doccument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doccument_new',{'type' : 0}) }}">Create new with prod</a>
    <a href="{{ path('doccument_new',{'type' : 1}) }}">Create new with service</a>
{% endblock %}
